{{define "content"}}
<div class="container mt-3">
<h2>翻訳したい言葉は？</h2>

<form method="post" action="/new">
    <div class="form-group">
        <label for="wordToTranslate">翻訳したい言葉を入力してね。日本語でも英語でも、何語でも！</label>
        <input type="text" name="word" id="wordToTranslate" class="form-control" placeholder="こんにちは">
        <button type="submit" class="btn btn-primary mt-1">翻訳する！</button>
        <div class="mt-5">
            <p class="lead"> honyac konjacは、あなたの好きな言葉を53の言語に翻訳して比べることができるWebアプリです。</p>
            <br>
            <p> たとえば、<em>Queen</em> という英単語は、日本語では<em>女王様</em> 、ドイツ語では<em>Königin</em> 、スペイン語では<em>Reina</em> といいます。フランス語だと<em>Reine</em> 、イタリア語だと<em>Regina</em> 。あれ、スペイン語とフランス語とイタリア語は似ていますね。こんな発見をできたら楽しいですね。あなたの好きな言葉をぜひ色々な言語で見てください！</p>
            <br> 
            <small>翻訳は Google Cloud Platformを使用しています。翻訳の正確さを当サイトで保証はできません。また分類も絶対に正しいとは言い切れません。全ての言語をあつかっているわけでもありません。世界の言語はもっともっと多様なのです。</small>
    </div>
    </div>
</form>
</div>
{{end}}