{{define "content"}}
<div class="container mt-3">
<h2>新規登録</h2>
<form method="post" action="/signup">
    <div class="form-group">
        <label for="inputName">USER NAME</label>
        <input type="text" class="form-control" name="newName" id="inputName" placeholder="Kumataroh">
    </div>
    <div class="form-group">
        <label for="inputEmail">E-MAIL ADDRESS</label>
        <input type="email" class="form-control" name="newEmail" id="inputEmail" placeholder="kumano@example.ryo">
    </div>
    <div class="form-group">
        <label for="inputPassword">PASSWORD</label>
        <input type="password" class="form-control" name="password" id="inputPassword" placeholder="password"><br>
    </div>
    <button type="submit" class="btn btn-primary">登録する</button>
</form>
</div>
{{end}}